@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

html {
  font-size: 14px;
  line-height: 18px;
}

strong {
  font-weight: 500 !important;
}

ul {
  list-style-type: disc !important;
}
ol {
  list-style-type: decimal !important;
}
ul,
ol {
  list-style-position: inside;
}

.after-link-arrow::after {
  content: url("/icon_link.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .after-link-arrow::after {
    content: none;
  }
}

@page {
  size: A4 portrait;
  margin: 15mm;
}
