@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

html {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

strong {
  font-weight: 500 !important;
}

.after-link-arrow::after {
  content: url("/icon_link.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .after-link-arrow::after {
    content: none;
  }
}
.section__title {
  letter-spacing: 4px;

  font-size: 16px;
  line-height: 20px;
}
.entry__content {
  margin-top: 4px;
}
.entry ul,
.entry ol {
  margin-top: 8px;
  list-style-position: inside;
}
.entry ul {
  list-style-type: disc !important;
}
.entry ol {
  list-style-type: decimal !important;
}
.entry li:not(:first-child) {
  margin-top: 4px;
}
.entry p:not(:first-child) {
  margin-top: 8px;
}
.skills-list {
  margin-top: -8px;
}

.skill {
  padding-top: 8px;
}

.skill__proficiency {
  max-height: 21px;
  min-width: 105px;
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

@page {
  size: A4 portrait;
  margin: 15mm;
}
