---
import type { ComponentProps } from "astro/types";

interface Props {
  title: string;
  content?: string;
  visible?: boolean;
}
const { title, visible = true } = Astro.props;
export type SectionProps = ComponentProps<typeof Section>;
---

{
  visible && (
    <section>
      <h2 class="section__title">{title}</h2>
      <hr class="section__divider" />
      <div class="section__content">
        <slot />
      </div>
    </section>
  )
}
